.question {
  font-weight: 400;
  font-size: var(--text-size-option);
  text-align: center;
  margin: 0 auto;
  width: 240px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: all var(--transition-2);

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100vw;
    background-color: var(--color-black-40);
    position: absolute;
    top: 50%;
    right: 100%;
    transition: all var(--transition-2);
  }

  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100vw;
    background-color: var(--color-black-40);
    position: absolute;
    top: 50%;
    left: 100%;
    transition: all var(--transition-2);
  }
}

.question--current {
  &::before,
  &::after {
    background-color: var(--color-orange-100);
  }
}

.question--previous {
  color: var(--color-black-40);
}

.icon-wrapper {
  position: absolute;
}

.icon-path {
  transition: all var(--transition-2);
}

.icon-path--active {
  stroke: var(--color-orange-100);
}

.text {
  position: relative;
}
