.options {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;

  @media (max-width: 1200px) {
    row-gap: 16px;
  }

  @media (max-width: 768px) {
    padding: 16px 0 24px;
    row-gap: 8px;
  }
}

.option {
  padding: 0 16px;
  display: flex;
  width: 50%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.option-content {
  padding: 8px 32px;
  display: flex;
  align-items: center;
  position: relative;
  gap: 8px;
  aspect-ratio: 288 / 56;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  background-color: transparent;
  width: 100%;
  transition: all var(--transition-2);

  @media (max-width: 768px) {
    max-height: 60px;
  }

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 17px;
    background-color: var(--color-black-40);
    position: absolute;
    top: 50%;
    right: calc(100% - 1px);
    transform: translateY(-50%);
    transition: all var(--transition-2);
  }

  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 17px;
    background-color: var(--color-black-40);
    position: absolute;
    top: 50%;
    left: calc(100% - 1px);
    transform: translateY(-50%);
    transition: all var(--transition-2);
  }
}

.option:hover .option-content::before,
.option:hover .option-content::after {
  background-color: var(--color-orange-100);
}

.option:hover .icon-path {
  stroke: var(--color-orange-100);
}

.option-content--selected {
  &::before,
  &::after {
    background-color: var(--color-orange-100) !important;
  }
}

.option-content--correct {
  &::before,
  &::after {
    background-color: var(--color-green-100) !important;
  }
}

.option-content--incorrect {
  &::before,
  &::after {
    background-color: var(--color-red-100) !important;
  }
}

.option-id {
  color: var(--color-orange-100);
  font-weight: 600;
  font-size: var(--text-size-option);
  position: relative;
}

.option-text {
  font-weight: 400;
  font-size: var(--text-size-option);
  color: var(--color-black-100);
  position: relative;
  text-align: left;
}

.icon-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.icon-path {
  transition: all var(--transition-2);
}

.icon-path--selected {
  fill: var(--color-orange-5) !important;
  stroke: var(--color-orange-100) !important;
}

.icon-path--correct {
  fill: var(--color-green-5) !important;
  stroke: var(--color-green-100) !important;
}

.icon-path--incorrect {
  fill: var(--color-red-5) !important;
  stroke: var(--color-red-100) !important;
}
