.block {
  display: grid;
  grid-template-columns: auto 376px;
  background-color: var(--color-black-5);
  min-height: 100vh;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    grid-template-rows: calc(16px + 24px + 16px) auto;
  }
}

.round {
  padding: 80px;
  display: flex;
  flex-direction: column;

  @media (max-width: 992px) {
    padding: 24px;
    gap: 24px;
  }

  @media (max-width: 768px) {
    padding: 0;
  }
}

.round-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-grow: 1;
  gap: 16px;
  width: 100%;
  max-width: 846px;

  @media (max-width: 992px) {
    max-width: unset;
    gap: 0;
  }
}

.title {
  flex-grow: 1;
  font-weight: 600;
  font-size: var(--text-size-question);
  color: var(--color-black-100);
  max-width: 624px;
  width: 100%;

  @media (max-width: 992px) {
    max-width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

.sidebar {
  background-color: var(--color-white-100);
  padding: 24px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 992px) {
    display: none;
  }
}

.sidebar-content {
  max-height: calc(100vh - 48px);
  overflow-y: auto;
  gap: 8px;
  display: flex;
  flex-direction: column-reverse;
  overflow-x: hidden;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: calc(100% - calc(16px + 24px + 16px));
  left: 0;
  overflow: hidden;
  transition: all var(--transition-2);
  top: calc(16px + 24px + 16px);
  background-color: var(--color-black-5);
  z-index: -1;
  opacity: 0;
  pointer-events: none;

  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-menu--open {
  z-index: 1000;
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu-content {
  max-height: calc(100% - 20px);
  overflow-y: auto;
  gap: 8px;
  display: flex;
  flex-direction: column-reverse;
  overflow-x: hidden;
}
